#!/usr/bin/make -f
# -*- makefile -*-
include $(DISTRIBUTION_REFROOT)/opt/bb/share/bbtoolchain-cmake-debhelper/bbtoolchain-cmake-debhelper-macros.mk

# Pass {ON,OFF} for shared builds
# Pass {OFF,ON} for static builds
LIBRARY_CMAKE_ARGS = -DCOROKAFKA_PKGCONFIG_DIR=lib64/pkgconfig \
                     -DCOROKAFKA_CMAKE_CONFIG_DIR=lib64/cmake/CoroKafka \
                     -DCOROKAFKA_BUILD_SHARED=$(1) \
                     -DCOROKAFKA_CPPKAFKA_STATIC_LIB=$(2) \
                     -DCOROKAFKA_RDKAFKA_STATIC_LIB=$(2) \
                     -DCOROKAFKA_BOOST_STATIC_LIBS=ON \
                     -DBOOST_ROOT=$(DISTRIBUTION_REFROOT)/opt/bb \
                     -DQUANTUM_ROOT=$(DISTRIBUTION_REFROOT)/opt/bb \
                     -DRDKAFKA_ROOT=$(DISTRIBUTION_REFROOT)/opt/bb \
                     -DCPPKAFKA_ROOT=$(DISTRIBUTION_REFROOT)/opt/bb

# Build static libs and headers
DEBHELPER_64BIT_CMAKE_ARGS = $(call LIBRARY_CMAKE_ARGS,OFF,ON) # static build
$(eval $(call BB_DEBHELPER_BIARCH_BUILD,64))
$(eval $(call BB_DEBHELPER_PACKAGE,libcorokafka-dev,,64))

include $(DISTRIBUTION_REFROOT)/opt/bb/share/bbtoolchain-cmake-debhelper/bbtoolchain-cmake-debhelper-rules.mk
